.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nameSpan{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1rem;
}
.listItems{
    display: flex;
    align-items: center;
}

.listItems img{
    width: 60px;
    height: 50px;
}

.listItems ul{
    display: flex;
   
}

.listItems ul li{
    margin: 10px;
    list-style: none;
    
}
.menu{
    display: none;
}
.hiddenMenu{
    display: none;
}
.plainBtn{
    border: none;
    background: none;
    margin-right: 2rem;
    cursor: pointer;
}
.btn2{
    background: none;
    border: 2px solid rgb(247, 168, 22);
    border-radius: 2rem;
    width: 6rem;
    height: 2rem;
    cursor: pointer;
}

@media only screen and (max-width: 987px){
    .navBar{
        justify-content: space-evenly;
    }
    .menu{
        display: unset;
    }
    .listItems ul{
        display: none;
    }
    .btn2, .plainBtn{
        display: none;
    }
    .hiddenMenu{
        display: unset;
        list-style: none;
    }
}